<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<html>

<head>
    <title>
        Pagina dos Filmes
    </title>
</head>

<body style="background: black;">
    <div class="container" style="text-align: center;">
        {% for categoria in dicionarioDeFilmes %}
        <h1 style="color: orange; justify-content: center;">{{categoria}}</h1>
        <br/>
        <div class="row" style="align-items: center; justify-content: center;">
            {% for filme in dicionarioDeFilmes[categoria] %}
            {% for nomeDoFilme in filme %}
            <div class="col-md-3">
                <div class="well text-center">
                    <img src={{filme[nomeDoFilme]}} />
                    <h5 style="color: red;">{{nomeDoFilme}}</h5>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        <br/>
        {% endfor %}

    </div>
    <a href={{url_for("inicial_page")}}>Voltar a Tela Inicial</a>
</body>

</html>